/* Typography */
@import url(http://fonts.googleapis.com/css?family=Merriweather:400italic,400,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);


body{
    background-color: #fff; /* Palette */
    color: #333; /* Palette */
}


p{
    font-family:'Merriweather', serif;
    line-height: 160%;
    font-size: 1.2em;
}

h1{
    font-family:'Merriweather', serif;
    line-height: 115%;
    font-size: 2.8em; 
    font-weight: 600;
    padding-top: 0px;
}

h2,h3,h4,h5,li {
    font-family:'Karla', sans-serif;
}

h3{
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2dbbb3; /* Palette */
}

h5{
    letter-spacing: 1px;
    font-weight: 600;
}

a{
    color: #2dbbb3; /* Palette */
}

a:focus, a:hover {
    color: #1D8680; /* Palette */
}


/* Viz page */
.my-viz{
    background-color: #ccc;  /* Togliere questo */
    min-height:  650px;
    margin-bottom: 50px;
}


.affix-top,.affix{
    position: static;
    border:0 #ccc solid;
    border-top-width:1px;
}

@media (min-width: 979px) {
    #sidebar.affix-top {
        position: static;
        margin-top:215px;
        width:228px;
    }

    #sidebar.affix {
        position: fixed;
        top:70px;
        width:228px;
    }
}

#sidebar li {
    border:0 #ccc solid;
    border-bottom-width:1px;
    letter-spacing: 1px;
}


#sidebar li.active {
    font-weight: 800;
    padding-left: 5px;
}

.main-content{
    margin-bottom: 400px;
}

.section-content{
    padding-top: 70px;
    margin-bottom: 70px;

}

.section-text{
    border:0 #ccc solid; /* Palette */
    border-top-width: 2px;
}


.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}


/* Introduction */

.my-cover{
    min-height:  540px;
    margin-bottom: 50px;
    background: url("../img/cover.png") no-repeat center center fixed;
    background-size: cover;
}

.introduction {
    margin-top:-350px;
    background: #fff;
    padding-top: 50px;
}

.introduction h1{
    font-size: 5em;
    padding-top: 40px
}

.introduction h5{
    font-family:'Merriweather', serif;
    color: #2dbbb3; /* Palette */
}

.introduction h3{
    margin-top: 100px;
    margin-bottom: 30px;
}

.introduction img{
    max-width: 100%;
}

.section-text-introduction{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    padding-top: 50px;
}

.chapters{
    border:0 #ccc solid; /* Palette */
    border-top-width: 1px;
    border-bottom-width: 1px;
    margin-bottom: 0px;
}

.chapters h1{
    font-size: 2.5em;
}

.chapters h2{
    font-size: 1.5em;
}

.chapters ul{
    padding: 0;
    list-style: none;
    margin-top: 30px;
}

.chapters li{
    padding: 0;
    list-style: none;
    font-size: 1.2em; 
}

.chapters-thumb{
    padding-left: 0;
}

/* Protocol */

.my-protocol{
    background-color: #ccc;  /* Togliere questo */
    min-height:  450px;
    margin-bottom: 50px;
}

.protocol-title{
    margin-top: 50px;
}

.section-content-protocol{
    padding-top: 70px;
    margin-bottom: 10px;
}

.section-content-protocol img{ 
    width: 100%;
    padding: 20px 0 20px 0;
}

.section-text-protocol{
    border:0 #ccc solid; /* Palette */
    border-top-width: 1px;
}

.related-viz{
    margin-top: 70px;
}

.related-viz-container{
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.related-viz-container:hover{
    background-color: #f7f7f7;
}

.related-viz-container{
    width: 100%;
    border: 1px solid #ccc;
}

.related-viz-container h4{
    color:#333;
    padding:5px 10px 5px 10px;
}

.related-viz-container h4:hover{
    color: #1D8680!important; /* Palette */

}

.related-viz-image img{
    max-width:100%;
    height: auto;
}


/* Sidebar menu */

#menu-toggle {
}

.menu-sidebar {    
    background-color: #2dbbb3; /* Palette */
    position: fixed;
    z-index: 1000;
}

.menu-sidebar i{
    padding: 19px!important;
    font-size: 2em;
    color: #fff;
    background-color: #2dbbb3; /* Palette */
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000; /* Palette */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -350px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 350px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-brand {
    margin-bottom: 50px;
    height:100px;
    background-color: #2dbbb3; /* Palette */
    font-family:'Karla', sans-serif;
    letter-spacing: 1px;
}

.sidebar-brand a{
    padding-left: 20px;
    display: block;
    text-decoration: none;
    color: #fff!important;
}

.sidebar-brand a:hover{
    color: #ccc!important;
}

.sidebar-nav h4{
    padding-top: 20px;
    color: #fff;
    letter-spacing: 1px;
}


.sidebar-nav h5{
    padding-top: 20px;
    color: #2dbbb3; /* Palette */
}


.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    padding-left: 20px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav li a:active{
    color: #fff;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 350px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 350px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*Footer*/
.footer{
    background-color: #333; /* Palette */
    color:#fff; /* Palette */
    font-family: 'Karla', sans-serif;
    bottom:0;
    position: relative;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}


.footer h4{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    margin-top: 0px;
    font-weight: 400;
}

.footer ul{
    list-style: none;
    padding-left: 0;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 400;
}

@media only screen and (max-width : 420px) {
    .footer h4{
        margin-top: 30px;
    }    

    .chapters-thumb{
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width : 768px) {

    .section-text-introduction{
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        padding-top: 0px;
    }

    .introduction h1{
        font-size: 2.5em;
        padding-top: 40px
    }

    .chapters-thumb{
        padding-left: 0;
        padding-right: 0;
    }

    .chapters{
        margin-bottom: 50px;
    }

}


/*Buttons and UI*/
.btn{
    font-family:'Karla', sans-serif;
    border-radius: 3px;
}

.btn-primary {
    color: #fff;/* Palette */
    background-color: #428bca;/* Palette */
    border-color: #357ebd;/* Palette */         
}

.btn-success {
    color: #fff;/* Palette */
    background-color: #5cb85c;/* Palette */
    border-color: #4cae4c;/* Palette */
}

.btn-info {
    color: #fff;/* Palette */
    background-color: #5bc0de;/* Palette */
    border-color: #46b8da;/* Palette */
}

.btn-warning {
    color: #fff;/* Palette */
    background-color: #f0ad4e;/* Palette */
    border-color: #eea236;/* Palette */
}

.btn-danger {
    color: #fff;/* Palette */
    background-color: #d9534f;/* Palette */
    border-color: #d43f3a;/* Palette */
}

